<script src="/js/ads.js" defer></script>

<div class="ui basic modal" id="ad-blocker-modal">
	<div class="ui icon header">
		<i class="warning icon"></i>
		Ad Blocker Detected
	</div>
	<div class="content" style="text-align: center;">
		<p>Ad blocker detected. Some functionality will not work unless you whitelist this domain.</p>
	</div>
	<div class="actions">
		<div class="ui ok inverted button">
			<i class="checkmark icon"></i>
			Geez Okay Fine
		</div>
	</div>
</div>