<div class="navbar">
  <div class="logo"></div>
  <div class="user-thumbnail"></div>
</div>

<div class="sub-bar">
	<div class="active-trucks">
		<%= trucks.length %> ACTIVE VANS
	</div>
	<div class="map-overview">
		MAP OVERVIEW |
	</div>
	<div class="crumbs">
		VAN 3284
	</div>
	<div class="last-updated">
		Last Updated: Fri Apr 13, 2018
	</div>
</div>

<div id="MainPage" v-show="visible">
  <div class="interactive-area">

	<sidebar></sidebar>
    <main-map></main-map>
    
  </div>
</div>