<div class="navbar">
  <div class="logo"></div>
  <div class="user-thumbnail"></div>
</div>

<div id="MainPage" v-show="visible">
  <div class="interactive-area">

    <main-map></main-map>
    
  </div>
</div>