.inline-block {
    display: inline-block !important;
}

#perch-app {
	height: auto;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #368DEA;

	-webkit-box-shadow: 0 0 14px 0 #E4ECEF;
    -moz-box-shadow: 0 0 14px 0 #E4ECEF;
    box-shadow: 0 0 14px 0 #E4ECEF;
    -webkit-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    -moz-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    box-shadow: 1px solid rgba(228, 236, 239, 0.78);	
}

.navbar .logo {
	background-image: url(http://perchcard.com/images/logo-text.png);
    height: 60px;
    width: 135px;
    background-repeat: no-repeat;
    background-color: white;
    background-size: auto 40px;
    background-position-x: 10px;
    background-position-y: 9px;
}

.main-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;	
}

.map-container {
	height: 100%;
}