.inline-block {
    display: inline-block !important;
}

#perch-app {
	height: auto;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: white;
	color: #E74B3B;
	-webkit-box-shadow: 0 0 14px 0 #E4ECEF;
    -moz-box-shadow: 0 0 14px 0 #E4ECEF;
    box-shadow: 0 0 14px 0 #E4ECEF;
    -webkit-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    -moz-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    box-shadow: 1px solid rgba(228, 236, 239, 0.78);	
}

.navbar .logo {
    background-image: url(/img/navbar.PNG);
    height: 60px;
    width: 90%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: auto 59px;
    background-position-x: 0px;
    background-position-y: 0px;
}

.navbar .user-thumbnail {
    background-image: url(https://0.gravatar.com/avatar/16cf11e07a1e5f95bcd511f767a7656c?s=300);
    top: 11px;
    position: fixed;
    right: 15px;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.main-map-container {
    position: absolute;
    height: calc(100% - 100px);
    width: calc(100% - 300px);
    top: 100px;
    right: 0;
}

.map-container {
	height: 100%;
}

.sub-bar {
	width: 100%;
	height: 40px;
	background-color: #F8F9F8;
	position: fixed;
	top: 60px;
	z-index: 9999;
	border-bottom: 1px solid #F3F5F6;
}

.sub-bar .active-trucks {
	font-size: 15px;
    padding-top: 4px;
    padding-left: 20px;
	font-weight: bold;
	display: inline-block;
}

.sub-bar .map-overview {
    display: inline-block;
    margin-left: 194px;
    font-size: 15px;
    padding-top: 4px;
    padding-left: 20px;
    font-weight: bold;
}

.sub-bar .crumbs {
	display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    color: #585858;
}

.sub-bar .last-updated {
	position: fixed;
    top: 65px;
    right: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #A4A4A4;
}

.sidebar {
    width: 300px;
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
    left: 0;
}

.sidebar .performance-card {
	background-color: white;
	padding: 25px;
    -webkit-box-shadow: 0 0 14px 0 #E4ECEF;
    -moz-box-shadow: 0 0 14px 0 #E4ECEF;
    box-shadow: 0 0 14px 0 #E4ECEF;
    -webkit-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    -moz-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    box-shadow: 1px solid rgba(228, 236, 239, 0.78);	
}

.performance-card label {
	font-size: 10px;
    font-weight: bold;
}

.performance-card h6 {
	margin: 0;
    line-height: 12px;
    font-size: 14px;
    margin-top: -7px;	
}

.performance-card h2 {
	margin-bottom: 15px;
}

.performance-card .performance-chart {
	height: 150px;
}

.green {
	color: #65C97A;	
}

.truck-list .truck-card .title {
	display: inline-block;
}

.truck-list .truck-card .button {
	display: inline-block;
}

.truck-card {
    background-color: white;
    -webkit-box-shadow: 0 0 14px 0 #E4ECEF;
    -moz-box-shadow: 0 0 14px 0 #E4ECEF;
    box-shadow: 0 0 14px 0 #E4ECEF;
    -webkit-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    -moz-box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    box-shadow: 1px solid rgba(228, 236, 239, 0.78);
    padding: 15px;
    margin: 20px 15px;	
}

.truck-card .button {
	float: right;
}

.truck-list {
	overflow-y: scroll;
    height: 365px;
}

.truck-card .revenue {
	display: block;
}

.button.ui.primary {
	background-color: #65C97A !important;
}

.truck-card .title {
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.truck-card .revenue {
	font-size: 12px;
    font-weight: bold;
    margin-top: -12px;
}

.truck-card .ui.button {
	margin-top: 11px;
}