<script type="text/x-template" id="brand-cards-template">
    <div class="brand-cards">

        <div class="highlight-card  chain-indicators-card brand-card">
           <div class="card-header  clearfix">
              <div class="card-title">
                 Locations
                 <div data-content="Filler content." class="help-icon  help-popup  float-right  pointer"><i class="help circle icon"></i></div>
              </div>
           </div>
           <div class="card-content">
              <div class="indicator-row  flexbox">
                 <div class="item subbed">
                    <div class="value">
                       -
                    </div>
                    <div class="label">This card is under review</div>
                 </div>
              </div>
           </div>
        </div>

        <div class="highlight-card  chain-indicators-card brand-card">
           <div class="card-header  clearfix">
              <div class="card-title">
                 Current Marketshare
                 <div data-content="Filler content." class="help-icon  help-popup  float-right  pointer"><i class="help circle icon"></i></div>
              </div>
           </div>
           <div class="card-content">
              <div class="indicator-row  flexbox">
                 <div class="item">
                    <div class="value">
                       53.5%
                    </div>
                 </div>
              </div>
           </div>
        </div>    

        <div class="highlight-card  chain-indicators-card brand-card">
           <div class="card-header  clearfix">
              <div class="card-title">
                 Current Competitive Score
                 <div data-content="Filler content." class="help-icon  help-popup  float-right  pointer"><i class="help circle icon"></i></div>
              </div>
           </div>
           <div class="card-content">
              <div class="indicator-row  flexbox">
                 <div class="item">
                    <div class="value">
                       34
                    </div>
                 </div>
              </div>
           </div>
        </div>         
        
    </div>
</script>