<script type="text/x-template" id="locations-map-template">
    <!-- MAP VIEW -->
    <div class="highlight-card  map-card  no-sidebar">
        <loading-overlay ref="loader"></loading-overlay>
        <!-- Card Header -->
        <div class="card-header  clearfix">
            <div class="card-title">
                Map
                <div class="help-icon  help-popup  float-right  pointer">
                    <i class="help circle icon" data-content="Filler Content"></i>
                </div>
            </div>
        </div>
        <!-- END Card Header -->

        <!-- Map Overlays -->
        <transition name="pulse-controller"">
            <div class="pulse-controller-container" v-show="pulseChecked && currentStoreId">
                <div class="pulse-legend">
                    <div class="scale"></div>
                    <div class="values">
                        <div class="first-tick">0</div>
                        <div class="last-tick">100</div>
                    </div>
                </div>

                <div class="pulse-map-settings-container" :class="isPulseOpen ? '' : 'is-closed'" v-show="pulseChecked && currentStoreId">
                    <div class="placement">
                        <div class="window-controls">
                            <div class="pulse-loading-container" v-show="!isPulseLoaded">
                                <div class="pulse-loading">
                                    <i class="fa  fa-spinner  fa-3  fa-spin"></i>
                                </div>
                            </div>
                            <div class="btn-maximize-container" @click="onPulseMaximizeMinimize" v-show="isPulseLoaded">
                                <div class="btn-maximize">
                                    <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-105.000000, -792.000000)" fill-rule="nonzero" fill="#4E5558">
                                                <g transform="translate(13.000000, 583.000000)">
                                                    <g transform="translate(79.000000, 196.000000)">
                                                        <path d="M13.0949306,13.3792738 C12.9558147,13.6177582 12.9756884,13.89599 13.1148043,14.1344743 L13.134678,14.154348 L17.9441128,20.8915315 L17.9441128,28.5031576 C17.9441128,28.7018945 18.0633549,28.8807578 18.2223445,28.9602526 C18.2819656,29 18.3614604,29 18.4409552,29 C18.5601974,29 18.6595659,28.9602526 18.7589344,28.8807578 L21.2033991,26.833767 C21.3226413,26.7343985 21.3822624,26.5952826 21.3822624,26.4561667 L21.3822624,20.8915315 L26.1916972,14.154348 L26.2115709,14.1344743 C26.3506868,13.89599 26.3705605,13.6177582 26.2314446,13.3792738 C26.0923287,13.1407895 25.8538443,13.0016736 25.5756126,13.0016736 L13.7308889,13.0016736 C13.4725308,12.9817999 13.2141728,13.1407895 13.0949306,13.3792738 Z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="flexbox">
                            <div class="side">
                                <div class="pulse-slider-container">
                                    <button @click="onPlayButtonClick">
                                        <i aria-hidden="true" :class="isPulseAnimating ? 'fa-pause' : 'fa-play'" class="fa"></i>
                                    </button>
                                    <!-- <range-slider ref="pulseSlider" :startValue="12" :min="0" :max="23" :onChange="onPulseSliderChange" :formatter="pulseSliderFormatter" :disabled="!isPulseSliderEnabled"></range-slider> -->
                                </div>

                                <div class="quick-select">
                                    <button class="btn  btn-gray" @click="onWeekdaysButtonClick">
                                        Weekdays
                                    </button>
                                    <button class="btn  btn-gray" @click="onWeekendsButtonClick">
                                        Weekends
                                    </button>
                                </div>

                                <div class="pulse-days">
                                     <checkbox text="Mon" :checked="true" ref="mondayCheckbox" name="monday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Tues" :checked="true" ref="tuesdayCheckbox" name="tuesday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Wed" :checked="true" ref="wednesdayCheckbox" name="wednesday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Thurs" :checked="true" ref="thursdayCheckbox" name="thursday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Fri" :checked="true" ref="fridayCheckbox" name="friday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Sat" :checked="true" ref="saturdayCheckbox" name="saturday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <checkbox text="Sun" :checked="true" ref="sundayCheckbox" name="sunday" :onToggle="onPulseDayOfWeekCheck"></checkbox>
                                     <div class="custom" @click="disableCustomPulse" v-show="!isPulseSliderEnabled">
                                         Reset
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="window-controls  btn-minimize-container" @click="onPulseMaximizeMinimize">
                            <div class="btn-minimize"></div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- END Map Overlays -->

        <!-- Card Content -->
        <div class="card-content pl-0  pr-0">
            <div class="map-with-sidebar-container  map-location  pl-0  pr-0">
                <div class="flexbox">
                    <light-map ref="lightMap"></light-map>
                </div>
            </div>            
        </div>
        <!-- END Card Content -->

    </div>
    <!-- END Section -->
    <!-- END MAP VIEW -->
</script>

<div class="hidden">
    <div class="" id="locations-map-store-popup">
        <div class="flexbox">
            <div class="store-name">
            </div>
        </div>
        <div class="demographic-data">
            <div class="item">
                <div class="store-visit-count">
                    <div class="label">
                        Visit Count
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="store-visitors">
                    <div class="label">
                        Visitors
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="store-loyalty">
                    <div class="label">
                       Visitation Score
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="store-visit-diff">
                    <div class="label">
                        Versus Local Comp.
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="locations-map-block-group-popup">
        <div class="block-title">
        </div>
        <div class="demographic-data">
            <div class="item">
                <div class="block-absolute-density">
                    <div class="label">
                        Absolute Density
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-relative-density">
                    <div class="label">
                        Relative Density
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-median-income">
                    <div class="label">
                        Median Income
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-median-home-value">
                    <div class="label">
                        Median Home Value
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-median-age">
                    <div class="label">
                        Median Age
                    </div>
                    <div class="value">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>