<script type="text/x-template" id="locations-table-template">
    <div class="data-table-container">
        <div class="highlight-card leaderboard-card">
            <div class="card-header clearfix">
                <div class="card-title  width-100">
                    Location Leaderboard
                    <div class="search-input  float-right  ui  input  small">
                        <input class="" type="text" placeholder="Search..." v-model="searchTerm">
                    </div>
                    <div class="help-icon  help-popup  inline-block  pointer" data-content="See store ranks and explore your stores performance individually.">
                        <i class="help  circle  icon">
                        </i>
                    </div>
                </div>
            </div>
            <div class="card-content  pl-0  pr-0">
                <div class="store-leaderboard-container">
                    <table class="store-loaderboard-table  ui  celled  table  sortable">
                        <tr>
                            <td class="p-0">
                                <table class="table-head">
                                    <tr class="flexbox">
                                        <th class="rank centered-header" :class="(sorting.key == 'rank') ? 'sorted ' + sorting.direction : ''">Brand</th>
                                        <th class="name centered-header" :class="(sorting.key == 'name') ? 'sorted ' + sorting.direction : ''">Location Name</th>
                                        <th class="loyalty-score" :class="(sorting.key == 'loyalty_score') ? 'sorted ' + sorting.direction : ''">Competitive Score</th>
                                        <th class="visit-difference" :class="(sorting.key == 'visit_diff') ? 'sorted ' + sorting.direction : ''">Total Observations</th>
                                        <th class="chart-td centered-header" :class="(sorting.key == 'visit_count') ? 'sorted ' + sorting.direction : ''">Retail Heartbeat</th>
                                        <th class="scroll-spacer"></th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                            <div class="scroll-block">
                                <template v-for="store in storesToShow">
                                    <tr :class="(selectedTableStore == store.name) ? 'highlight' : ''" @click="onStoreNameClick(store.name)" class="flexbox" ref="leaderboardRow">
                                        <td class="rank-td  value">{{ store.chain_id | mapChainName }}</td>
                                        <td class="store-id-td">
                                            <a>
                                                <div class="value" @click="showStorePageClick(store.store_id)">
                                                    <span class="leaderboard-store-name">{{ store.name | storeName }}</span>
                                                    <br>
                                                    <span class="leaderboard-store-address">{{ store.name | address }}</span>
                                                </div>
                                                <div class="pop-out" @click="showStorePageClick(store.store_id)">
                                                    <i class="fa fa-external-link" aria-hidden="true">
                                                    </i>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="loyalty-score-td  value">{{ store.loyalty_score | truncate(2) }}</td>
                                        <td class="visit-diff-td">
                                            <div class="store-rank-growth">
                                                <!-- <div class="stock-arrows">
                                                    <div class="arrow" :class="(store.visit_diff >= 0) ? 'up' : 'down'">
                                                    </div>
                                                </div> -->
                                                <div class="value">{{ store.visit_diff | truncate | number(true) | percent }}</div>
                                            </div>
                                        </td>
                                        <td class="chart-td  value">
                                            <highcharts :options="locationTableChart" ref="locationTableChart" class="location-table-chart"></highcharts>
                                        </td>
                                    </tr>
                                </template>
                            </div>

                            <tr class="table-footer">
                                <th colspan="8">
                                    <div class="ui  right  floated  pagination  menu">
                                        <a class="icon  item  previous-page" @click="onPreviousPageClick">
                                            <i class="left  chevron  icon" :class="leftArrowClass">
                                            </i>
                                        </a>
                                        <template v-for="pageNumber in pageNumbers">
                                            <a class="item page-number" :class="pageNumber.class" @click="onPageNumberClick(pageNumber.text)">
                                                {{ pageNumber.text }}
                                            </a>
                                        </template>
                                        <a class="icon  item  next-page" @click="onNextPageClick">
                                            <i class="right  chevron  icon" :class="rightArrowClass">
                                            </i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>