<script type="text/x-template" id="raw-visits-template">
    <div class="highlight-card  visitor-card">
        <loading-overlay ref="loader"></loading-overlay>

        <!-- Card Header -->
        <div class="card-header big clearfix">
            <div class="flexbox space-between">
                <div class="card-title">
                    Raw Visits
                    <div class="help-icon  help-popup  inline-block  pointer">
                        <i class="help circle icon" data-content="filler content"></i>
                    </div>
                </div>
            </div>
            <div class="help-text">
                Raw visits viewed over time
            </div>
        </div>
        <!-- END Card Header -->

        <!-- Card Content -->
        <div class="card-content  flexbox">
            <div class="chart  visitor-card-chart">
                <highcharts :options="rawVisitsChart" ref="rawVisitsChart" class="visitor-card-chart"></highcharts>
            </div>
        </div>
        <!-- END Card Content -->
    </div>
</script>