<script type="text/x-template" id="sidebar-template">
    <div class="sidebar">
        <div class="performance-card">
            <h2>Performance</h2>
            <label>REVENUE TODAY</label>
            <h6>${{ todaysRevenue | number }}</h6>

            <highcharts :options="performanceChart" ref="performanceChart" class="performance-chart"></highcharts>
        </div>

        <div class="truck-list">
            <div class="truck-card" v-for="truck in trucks">
                <div class="button ui primary tiny" @click="showTruckPopup(truck)">View</div>
                <div class="title" v-bind:class="{ active: truck.inTransit }">
                    {{ truck.title }}
                </div>
                <div class="revenue">
                    Revenue Today: ${{ truck.revenue | number }}
                </div>
            </div>
        </div>
    </div>
</script>