<script type="text/x-template" id="sidebar-template">
    <div class="sidebar">
        <div class="performance-card">
            <h2>Performance</h2>
            <label>REVENUE TODAY</label>
            <h6>${{ todaysRevenue | number }}</h6>

            <highcharts :options="performanceChart" ref="performanceChart" class="performance-chart"></highcharts>
        </div>
    </div>
</script>