<script type="text/x-template" id="sidebar-template">
    <div class="sidebar">
        <div class="performance-card">
            <h2>Performance</h2>
            <label>REVENUE TODAY</label>
            <h6>$6,013</h6>
        </div>
    </div>
</script>