<script type="text/x-template" id="store-map-template">
        <!-- MAP VIEW -->
        <div class="highlight-card  map-card">
            <!-- Card Header -->
            <div class="card-header  clearfix">
                <div class="card-title">
                    Map
                    <div class="help-icon  help-popup  float-right  pointer">
                        <i class="help circle icon" data-content="Filler Content"></i>
                    </div>
                </div>
            </div>
            <!-- END Card Header -->

            <!-- Card Content -->
            <div class="card-content pl-0  pr-0">

                <div class="map-with-sidebar-container  map-store  pl-0  pr-0">
                    <div class="flexbox map-flex">
                        <light-map ref="lightMap"></light-map>
                    </div>
                    <div class="side-nav  side-nav-stores">
                        <div class="item">
                            <div class="item-control-container">
                                <div class="help-icon  help-popup  float-right  pointer">
                                    <i class="help circle icon" data-content="Filler content"></i>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="label">
                                    Visitation Score
                                </div>
                                <div class="value">
                                    {{ storeInfo.loyalty_score | truncate(2) }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-control-container">
                                <div class="help-icon  help-popup  float-right  pointer">
                                    <i class="help circle icon" data-content="Filler Content"></i>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="label">
                                    Observed Unique Devices
                                </div>
                                <div class="value">
                                    {{ storeInfo.visitors | number }}
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="item-control-container">
                                <div class="help-icon  help-popup  float-right  pointer">
                                    <i class="help circle icon" data-content="Filler Content"></i>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="label">
                                    Observed Visits
                                </div>
                                <div class="value">
                                    {{ storeInfo.visit_count | number }}
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="item-control-container">
                                <div class="help-icon  help-popup  float-right  pointer">
                                    <i class="help circle icon" data-content="Filler Content"></i>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="label">
                                    Trade Area Square Miles
                                </div>
                                <div class="value">
                                    {{ storeInfo.ogs_square_mi | truncate | number | append(' sq miles') }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-control-container">
                                <div class="help-icon  help-popup  float-right  pointer">
                                    <i class="help circle icon" data-content="Filler Content"></i>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="label">
                                    Versus Local Competitors
                                </div>
                                <div class="value">
                                    {{ storeInfo.visit_diff | truncate | number | percent }}
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
            <!-- END Card Content -->
        </div>
        <!-- END Section -->
        <!-- END MAP VIEW -->
</script>

<style>
    #HeartBeat_View-Store .pulse-controller-container {
        bottom: 125px;
        left: 10px;
    }
</style>