<script type="text/x-template" id="store-time-of-day-template">
    <div class="highlight-card  time-of-day-card  half">
        <loading-overlay ref="loader"></loading-overlay>
        
        <!-- Card Header -->
        <div class="card-header  clearfix">
            <div class="card-title">
                Time of Day
                <div class="help-icon  help-popup  float-right  pointer" >
                    <i class="help circle icon" data-content="Filler Content"></i>
                </div>
            </div>
        </div>
        <!-- END Card Header -->

        <!-- Card Content -->
        <div class="card-content">
            <div class="chart   time-of-day-card">
                <highcharts :options="timeOfDayChart" ref="timeOfDayChart" class="time-of-day-chart"></highcharts>
            </div>
        </div>
        <!-- END Card Content -->
    </div>
    <!-- END Section -->
</script>