<script type="text/x-template" id="truck-popup-template">
    <div class="truck-popup">
        <div class="popup-header">
            <div class="name">
                {{ selectedTruck.title }}
            </div>
            <div class="close" @click="closePopup()">
                <i class="close icon"></i>
            </div>
        </div>
        <div class="driver">
            <div class="truck-image"></div>
            <div class="number">
                {{ selectedTruck.title | pullVanNumber }}
            </div>
            <label>DRIVER</label>
            <div class="driver-name">{{ selectedTruck.driver }}</div>
        </div>
        <div class="inventory">
            <div class="header">
                Inventory
            </div>
            <div class="tabs-container">
                <div class="ui two item menu">
                    <div class="item" @click="key = 'mealKits'"  v-bind:class="[key == 'mealKits' ? 'active' : '']">Meal Kits</div>
                    <div class="item" @click="key = 'inventory'" v-bind:class="[key == 'inventory' ? 'active' : '']">Inventory</div>
                </div>                   
            </div>
            <div class="inventory-list">
                <div class="inventory-item" v-for="item in items"></div>
            </div>
        </div>
    </div>
</script>