<script type="text/x-template" id="truck-popup-template">
    <div class="truck-popup">
        <div class="popup-header">
            <div class="name">
                {{ selectedTruck.title }}
            </div>
            <div class="close" @click="closePopup()">
                <i class="close icon"></i>
            </div>
        </div>
        <div class="driver">
            <div class="truck-image"></div>
            <div class="number">
                {{ selectedTruck.title | pullVanNumber }}
            </div>
            <label>DRIVER</label>
            <div class="driver-name">{{ selectedTruck.driver }}</div>
        </div>
        <div class="inventory">
            <div class="header">
                Inventory
            </div>
            <div class="tabs-container">
                <div class="ui two item menu">
                    <div class="item active">Meal Kits</div>
                    <div class="item">Inventory</div>
                </div>                   
            </div>
        </div>
    </div>
</script>