<script type="text/x-template" id="truck-popup-template">
    <div class="truck-popup">
        <div class="popup-header">
            <div class="name">
                Van 3284
            </div>
            <div class="close">
                <i class="close icon"></i>
            </div>
        </div>
    </div>
</script>