<script type="text/x-template" id="date-range-picker-template">
    <form class="ui form date-picker-form">
        <div class="ui left icon input">
            <input type="text" name="datepicker"
                value="" />
            <i class="calendar icon"></i>
        </div>
    </form>  
</script>