<script type="text/x-template" id="loading-overlay-template">
    <div class="loading-chart-overlay-container">
        <div class="loading-overlay">
            <div class="loading-graphic-container">
                <div class="loading-graphic">
                    <i class="fa  fa-spinner  fa-3  fa-spin"></i>
                </div>
            </div>
            <div class="error-message">
            </div>
        </div>
    </div>
</script>